.pad5 {
  padding: 5px;
}

.marg5 {
  margin: 5px;
}

@keyframes animatedHeader {
  from {background-position: -50px 20px}
  to {background-position: 105% 20px}
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  text-align: center;
  background-image: url(/images/cloud.png);
  background-size: 8%;
  background-repeat: no-repeat;

  animation: animatedHeader 30s linear infinite;
}

.btn-game {
  margin: 7px;
  padding: 5px;
  border-radius: 4px;
  font-size: 40px;
  background-color: white;
  font-family: 'Indie Flower', cursive;
}

.drawkward-child {
  display: inline;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.outer-show-drawing {
  align-content: center;
}

.show-drawing {
  width: 50%;
  align-content: center;
  border-style: solid;
  background-color: white;
}

.user-thumbnail {
  margin: 2px;
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-radius: 2px;
}

.thumbnail-portrait {
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  margin: 0;
  padding: 5px;
  background-color: #E0FFFF;
}

@keyframes animatedBackground {
  from {background-position: 900px 50px, 40px 200px, 845px 390px, 300px 500px;}
  to { background-position: 890px 55px, 45px 215px, 850px 400px, 295px 490px;}
}

#main-drawkward-frame {
  margin: 0;
  height: 800px;
  background-image: url(/images/cute_sun.png), url(/images/cute_cloud.png), url(/images/cloud.png), url(/images/cloud.png);
  background-repeat: no-repeat;

  animation: animatedBackground 2s linear infinite;
  animation-direction: alternate;
}

@keyframes animatePigTimer {
  from {background-position: -200px center}
  to {background-position: 130% center}
}

#floating-pig {
  height: 200px;
  padding: 0;
  justify-content: center;
  background-image: url(/images/cute_flying_pig.png);
  background-size: 35%;
  background-repeat: no-repeat;

  animation: animatePigTimer 61s linear;
}

#show-seconds {
  font-size: 50px;
  animation: animatePigTimer 60s linear;
}
