#main {
  margin: 0;
  padding: 5px;
  background-color: #E0FFFF;
}

.pad5 {
  padding: 5px;
}

.marg5 {
  margin: 5px;
}

@keyframes animatedHeader {
  from {background-position: -50px 40px}
  to {background-position: 105% 40px}
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  text-align: center;
  background-image: url(/images/cloud.png);
  background-size: 8%;
  background-repeat: no-repeat;

  animation: animatedHeader 30s linear infinite;
}

#drawkward-logo {
  height: 135px;
  width: auto;
}

@keyframes animatedBackground {
  from {background-position: 940px 50px, 40px 200px, 745px 470px;}
  to { background-position: 930px 55px, 45px 215px, 750px 480px;}
}

#main-drawkward-frame {
  margin: 0;
  height: 800px;
  background-image: url(/images/cute_sun.png), url(/images/cute_cloud.png), url(/images/cloud.png);
  background-repeat: no-repeat;

  animation: animatedBackground 2s linear infinite;
  animation-direction: alternate;
}

#login-container {
  height: 800px;
  align-content: center;
}

.subtitle {
  margin: 2px 2px 20px 2px;
}

#game-selection-box {
  margin: auto;
  width: 50%;
  background-color: #E0FFFF;
  border-radius: 20px;
  padding: 20px;
}

.daisy-pig-login {
  position: absolute;
  top: 120px;
  right: 0px;
}

.face-cloud-login {
  position: absolute;
  top: 50px;
  left: 0px;
}

.room-form {
  align-content: center;
  justify-content: center;
  padding: 0px;
}

.room-form-subheader {
  margin-top: 2px;
  margin-bottom: 0px;
}

.room-form-header {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin: 0px;
  padding: 4px;
  font-size: 60px;
  align-content: center;
  width: 30%;
}

.btn-game {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  border-style: solid;
  border-radius: 15px;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  font-family: 'Amatic SC', cursive;
}

.btn-game:hover {
  background-color: #D3D3D3;
  color: white;
}

.drawkward-child {
  display: inline;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.outer-show-drawing {
  align-content: center;
}

.show-drawing {
  width: 50%;
  align-content: center;
  justify-content: center;
  border-style: solid;
  background-color: white;
}

.show-drawing-layer {
  align-content: center;
  justify-content: center;
}

.show-drawing-wrapper {
  align-content: center;
}

.user-thumbnail {
  margin: 2px;
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-radius: 2px;
}

.thumbnail-container {
  padding: 0px;
  margin: 0px;
}

.username {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.username-header {
  margin: 4px 0px 0px 0px;
  padding: 0px;
}

.thumbnail-portrait {
  align-content: center;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
}


@keyframes animatePigTimer {
  from {background-position: -200px center}
  to {background-position: 130% center}
}

#floating-pig {
  height: 200px;
  padding: 0;
  justify-content: center;
  background-image: url(/images/flying_pig_tongue_out.png);
  background-size: 22%;
  background-repeat: no-repeat;

  animation: animatePigTimer 61s linear;
}

#show-seconds {
  font-size: 50px;
}

#seconds-countdown {
  margin: 4px;
}

.winner-thumbnail {
  width: 75%;
  height: auto;
}

@keyframes animateStars {
  from {background-position: bottom center, bottom center, bottom center}
  to {background-position: left center, right center, center top}
}

#drawkward-winners {
  height: 100%;
  width: 100%;
  background-image: url(/images/cartoon_stars.png), url(/images/cartoon_stars.png), url(/images/cartoon_stars.png);
  background-size: 25%;
  background-repeat: no-repeat;

  animation: animateStars 10s linear;
  ;
}

.header-pictionary {
  display: absolute;
  max-width: 100%;
}

.pictionary-subheader {
  display: inline-block;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#drawkward-logo-pictionary {
  display: inline-block;
  height: 100px;
}

.btn-quit {
  float: right;
  font-size: 30px;
  padding: 8px 15px 8px 15px;
  margin: 15px 15px 0 0;
}


#outer-pictionary-frame {
  height: 900px;
}

.pictionary-children {
  height: 75%;
  justify-content: space-around;
}

.pictionary-frame {
  display: flex;
  justify-content: center;
}

.daisy-pig-pictionary {
  position: absolute;
  height: 350px;
  width: auto;
  bottom: 20px;
  right: 0px;
}

.face-cloud-pictionary {
  position: absolute;
  height: 300px;
  width: auto;
  top: -50px;
  left: 20px;
}

#pictionary-seconds-countdown {
  margin: 4px;
}
