.pad5 {
  padding: 5px;
}

.marg5 {
  margin: 5px;
}

@keyframes animatedHeader {
  from {background-position: -30px 10px}
  to {background-position: 100% 10px}
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  text-align: center;
  background-image: url(/images/cloud.png);
  background-size: 8%;
  background-repeat: no-repeat;

  animation: animatedHeader 20s linear infinite;
}

.drawkward-child {
  display: inline;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.show-drawing {
  align-content: center;
  border-style: solid;
  background-color: white;
}

.user-thumbnail {
  margin: 2px;
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-radius: 2px;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  margin: 0;
  padding: 5px;
  background-color: #E0FFFF;
}

@keyframes animatedBackground {
  from {background-position: 900px 50px, 40px 200px, 850px 400px;}
  to { background-position: 890px 60px, 50px 220px, 830px 390px;}
}

#main-drawkward-frame {
  margin: 0;
  height: 800px;
  background-image: url(/images/cute_sun.png), url(/images/cute_cloud.png), url(/images/cloud.png);
  background-repeat: no-repeat;
  background-position: 880px 70px, 60px 230px, 800px 370px;

  animation: animatedBackground 1s linear infinite;
  animation-direction: alternate;
}

